
/* non testato (per dispositivi mobili) */

body, html {
  background-color: rgba(3, 90, 0, 0.774);
}

#container {

  width: 90%;
  height: 90%;

  position: absolute;
  top: 5%;
  left: 5%;
  /* margin: -100px 0 0 -175px; */
}

canvas {
  
  width: 100%;
  height: 100%;
  
  background: rgba(3, 90, 0, 0.774);

  border: 1px solid #000000;
}


/*
body, html {
  /*
  height: 100%;
  margin: 0;
  
  background-color: rgba(3, 90, 0, 0.774);
}

#container {
  width: 720px;
  height: 480px;

  position: absolute;
  top: 15%;
  left: 40%;
  margin: -100px 0 0 -175px;
}

h1 {
  color: white;
  text-align: center;
  width: max-width;
}

h2 {
  color: black;
  text-align: center;
  size: 100px;
}

canvas {
  width: 100%;
  height: 100%;
  
  background: rgba(3, 90, 0, 0.774);

  border: 1px solid #000000;

  /*
  position: relative;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%;
  
}
*/
/*
body {
  background-color: rgba(3, 90, 0, 0.774);


}


button {
  display:-webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:flex;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-justify-content:center;
  justify-content:center;
}


canvas {
  width: 500px;
  height: 500px;
  
  background: rgba(3, 90, 0, 0.774);

  border: 1px solid #000000;

  position: relative;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%;
}  


h1 {
  color: white;
  text-align: center;
  width: max-width;
}
  
h2 {
  color: black;
  text-align: center;
  size: 100px;
}
*/