body {
    background-color: grey;
  }
  
  

  h1 {
    color: white;
    text-align: center;
    width: max-width;
  }
  
  

  
#hexagon {
    width: 100px;
    height: 55px;
    background: rgba(0, 160, 0, 0.61);
    position: relative;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid rgba(0, 160, 0, 0.61);
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid rgba(0, 160, 0, 0.61);
}
