body {
    background-color: rgba(3, 90, 0, 0.774);
  }
  
#bottonetest{
  position: relative;
  
   
}
  
canvas {
  width: 500px;
  height: 500px;
  
  background: rgba(3, 90, 0, 0.774);

  /* color: solid #000000; */
  border: 1px solid #000000;

  position: relative;
  left: 30%;
  right: 30%;
  bottom: 30%;
  top: 30%;
}  

  h1 {
    color: white;
    text-align: center;
    width: max-width;
  }
  h2 {
    color: black;
    text-align: center;
    size: 100px;
  }